<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOC</title>
</head>
<body>
  <form>
  <h2 class="mb-3">NOC</h2>
  <table class="table table-bordered w-100">
    <thead>
        <th colspan="5">NOC Rates</th>
        <th>Selling Rates</th>
    </thead>
    <thead>
        <th>item</th>
        <th>DESCRIPTION</th>
        <th>QTY</th>
        <th>Labour Unit Rate</th>
        <th>Equipment Unit Rate</th>
    </thead>
    <tbody>
      <tr>
        <td>Alarm monitoring - per partition:</td>
        <td><input type="text" id="alarm" name="alarm" placeholder="Alarm" class="form-control" /></td>
        <td>R 300.00</td>
        <td>R ...</td>
      </tr>
      <tr>
        <td>Armed Response:</td>
        <td><input type="text" id="response" name="response" placeholder="Armed Response" class="form-control" /></td>
        <td>R 300.00</td>
        <td>R ...</td>
      </tr>
      <tr>
        <td>SMS - Actionable signals sms to 2 numbers:</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 300.00</td>
        <td>R ...</td>
      </tr>
    </tbody>
  </table>
</form>

</body>
</html>