<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOC</title>
       <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <form>
  <h2 class="mb-3" style="color: aliceblue;">NOC</h2>
  <table class="table table-bordered w-100">
    <thead>
        <th colspan="3" style="text-align: center;">NOC Rates</th>
        <th colspan="4" style="text-align: center;">Selling Rates</th>
    </thead>
    <thead>
        <th>item</th>
        <th>DESCRIPTION</th>
        <th>QTY</th>
        <th>Labour Unit Rate</th>
        <th>Equipment Unit Rate</th>
    </thead>
    <tbody>
      <tr>
        <td>MON</td>
        <td>Alarm monitoring - per partition:</td>
        <td><input type="text" id="alarm" name="alarm" placeholder="Alarm" class="form-control" /></td>
        <td>R 300.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
        <td>Armed Response:</td>
        <td><input type="text" id="response" name="response" placeholder="Armed Response" class="form-control" /></td>
        <td>R 450.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
        <td>SMS - Actionable signals sms to 2 numbers:</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 50.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
         <td>SMS Change</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 65.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
        <td>Communication Fee</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 25.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
        <td>AJAX Data Fee</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 90.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>MON</td>
        <td>VideoFied Data Fee:</td>
         <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 50.00</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>EBM</td>
        <td>CCTV Offsite Event Based Monitoring:</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>-</td>
        <td>R ...</td>
      </tr>
      <tr>
        <td>SF</td>
        <td>Scarface - Facial Recognition - Live System:</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>-</td>
        <td>R ...</td>
      </tr>
      <tr>
         <td>SF App</td>
        <td>Scarface - Facial Recognition - Mobile App:</td>
        <td><input type="text" id="sms" name="sms" placeholder="SMS - Actionable signals sms to 2 numbers" class="form-control" /></td>
        <td>R 4999.00</td>
        <td>R ...</td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <th colspan="5" style="text-align: center;"> Link Up Fees</th>
    </thead>
    <tbody>
      <tr>
         <td>EBM</td>
        <td> CCTV Linkup Fee</td>
        <td>0</td>
        <td>R</td>
        <td>R</td>
      </tr>
      <tr>
         <td>NOC</td>
         <td> NOC Linkup Fee</td>
        <td>0</td>
        <td>R</td>
        <td>R</td>
      </tr>
    </tbody>
  </table>
</form>

</body>
</html>