body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background: linear-gradient(135deg, #01274d, #1d2020, #c4c0c0);
}
  .form-container {
      min-height: 100vh;
      display: flex;
      align-items: center;
    }
       .img-side {
      width: 100%;
      max-width: 800px;
      border-radius: 12px;
    }
  input, button {
    padding: 8px;
    margin: 5px;
  }
.form-group {
    margin-bottom: 15px;
    display: block;
    width: 100%;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input {
    width: 75%;
    box-sizing: border-box;
  }
  .login-form, .admin-sale-form{
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: linear-gradient(135deg, #2c3136, #1d2020, #c4c0c0); background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color : white;
  }
  .login-form button[type="submit"], 
  .admin-sale-form button[type="submit"],
  .signup-form button[type="submit"],
  #additem-form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}
.login-form-group{
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: whitesmoke;
}
.login-form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  color: black;
}
.login-form-group input[type="text"]:focus {
  border-color: #007bff;
  outline: none;
}
.signup-form,
#additem-form,
#edit-form{
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: whitesmoke;
}
.signup-form-group,
.additem-form-group,
.edit-form-group {
  margin-bottom: 20px;
}
.signup-form-group label,
.additem-form-group,
.edit-form-group{
  display: block;
  margin-bottom: 8px;
  width: 100%;
  font-weight: 600;
  font-weight: 600;
  color: whitesmoke;
}
.signup-form-group input[type="text"],
.signup-form-group input[type="email"],
.signup-form-group input[type="tel"],
.signup-form-group select,
#jobDescription,
.additem-form-group input[type="text"],
.additem-form-group input[type="number"],
.additem-form-group select,
.edit-form-group input[type="text"],
.edit-form-group input[type="number"],
.edit-form-group select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: #f9f9f9;
}
.details-form-group{
      background: linear-gradient(135deg, #928dab);
      padding: 25px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      width: 70%;
      margin: 30px auto 20px;
}
.details-button-container{
     display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
      margin-bottom: 40px;
}
.view-table,table{
 font-size: 12px;
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 30px;
    color:#f2f2f2
}
  .bill-header {
       background: linear-gradient(135deg, #01274d, #1d2020, #c4c0c0);
      font-weight: bold;
      text-align: center;
      color:#f9f9f9;
    }
    .green-text-head {
      color: green;
    }
    .green-text {
      color: green;
    }
      table, th, td {
      border: 1px solid #ddd; 
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    #container{
      background-color: #e9e4e4;
    }
    .table-print{
    font-size: 12px;
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 30px;
    color: black;
    }
    #dash-sale{
      margin: 0;
      padding: 0;
    }
    #dash-form{
      padding-top: 0%;
    }