<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Register</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" href="assets/Bidvest-Protea-Coin-Logo.png" type="image/x-icon" />
</head>
<body>
   
<form class="login-form" method="POST" action="/admin/register">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLl5RFBWd70u8xNBu3mBTfHBq-Y1TzCuXJ5w&s" class="img-fluid mb-3" alt="Placeholder image" width="100px" height="100px">
  <h2>Register Admin</h2>
  <div class="login-form-group">
    <label for="name">Admin Name:</label>
    <input type="text" name="name" placeholder="Name:" required><br>
  </div>
  <div class="login-form-group">
    <label for="email">Admin Email:</label>
    <input type="email" name="email" placeholder="Email:" required><br>
  </div>
  <div  class="login-form-group"> 
    <label for="password">Admin Password:</label> 
  <input type="password" name="password" placeholder="Password:" required><br>
  </div>
  <button type="submit">Register</button>
</form>
</body>
</html>