<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View sales</title>
     <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <h1>Welcome, </h1>
    <button onclick="window.location.href='/register-customer'" class="btn btn-success">
  Start New Quote
</button>
    <button onclick="window.location.href='/sales/dashboard'" class="btn btn-success" >View Quotes</button>
    <button>Update Sales Details</button>
    <a href="/my-customers" class="btn btn-primary">View My Customers</a>
</body>
</html>